.list-controls {
    button {
        margin-right: 5px;
    }
}
.no-display {
    display: none;
}

.add-bar {
    margin-bottom: 20px;
}

.checkbox-inline {
    height: 40px;
    line-height: 40px;
}

.date-picker, .time-picker {
    background-color: #fff !important;
    height: 32px !important;
    padding: 0 0 0 12px;
    width: 100% !important;
    > div {
        font-size: 14px !important;
    }
}
.date-picker {
    > div {
        height: 32px !important;
    }
}
.time-picker {
    > div {
        height: 17px !important;
    }
}